[run]
omit =
    # abstract classes
    #*/abs/*
    
    # examples
    */examples/*

    # unused algebra part
    src/garoupa/algebra/*
    src/garoupa/__init__.py
    src/garoupa/npmath.py
    src/garoupa/misc/helper.py
    
    setup.py
    venv

[report]
exclude_lines =
    @abstractmethod
    @abc.abstractmethod
